@use "../../../../assets/sass/variables" as *;

#header {
  border-bottom: 0.5px solid lightgrey;
  position: sticky;
  top: 0;
  background: var(--bg-white);
  z-index: 999;

  .btn-toggle {
    display: none;
    background-color: white;
    border: none;

    @include breakpoint(xs) {
      display: block;
    }

    @include breakpoint(sm) {
      display: block;
    }
    @include breakpoint(md) {
      display: block;
    }
  }

  .example-spacer {
    flex: 1 1 auto;
  }
}
