.document-box {
  border: 1px dashed #3f3f46;
  border-radius: 10px;
  position: relative;
  height: 100%;

  .doc-step-title {
    color: #6e6e6e99;
    font-weight: 600;
  }

  .box-steps {
    .steps-card {
      width: 8.813rem;

      .image-container {
        width: 4.75rem;
        height: 5rem;
        border: 1px dashed #d2d2d2;
        border-radius: 10px;
        display: grid;
        place-content: center;
      }

      .image-container2 {
        height: 6.063rem;
        width: 9.5rem;
      }

      .step-description {
        letter-spacing: 1.8%;

        .title {
          font-size: 1rem;
          font-weight: 600;
          color: #808080;
          line-height: 1rem;
        }

        .description {
          font-size: 0.75rem;
          color: #a7a7a7;
          line-height: 1rem;
        }
      }
    }
  }

  .dropdown-popup {
    position: absolute;
    background-color: var(--text-white);
    border: 1px solid #f2f4f7;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;

    ul li {
      padding: 0.5rem;
      transition: all 0.3s ease;
      cursor: pointer;

      &:hover {
        background-color: #f6eeff;
        border-radius: 8px;
      }
    }
  }

  .dropdown-popup-show {
    display: block;
  }

  .upload-url-popup {
    position: absolute;
    background-color: var(--text-white);
    border: 1px solid #f2f4f7;
    border-radius: 8px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    text-align: start;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: none;

    strong {
      font-size: 1.25rem;
      display: block;
    }

    span {
      display: block;
      color: #667085;
    }

    input[type="text"] {
      padding: 8px;
      border: 1px solid #d0d5dd;
      border-radius: 8px;
      width: 100%;
      outline: none;
    }

    input[type="text"]:focus {
      border: 1px solid var(--bg-violate);
    }

    ::placeholder {
      color: #acacac;
    }

    button {
      width: 45%;
      text-align: center;
    }
  }

  .upload-url-popup-show {
    display: block;
  }
}
