<section class="login-container">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-md-6 box-1">
        <div class="info-box h-100">
          <img
            src="../../../assets/images/sudo_white_logo.png"
            alt="Logo"
            width="210"
            height="32"
            loading="lazy"
          />
          <div>
            <h2 class="m-0 title-tag">Sudo<span>Mark</span></h2>
            <span class="tag-line">Your digital mark, verified</span>
          </div>

          <h2 class="tag-sub-title">
            <span>“</span>One Click, Signed.<br />Sealed, Delivered.<span
              >”</span
            >
          </h2>

          <p class="m-0 tag-description">
            Digitally sign, track and manage your<br />
            documents in seconds.
          </p>
        </div>
      </div>
      <div class="col-md-6 box-2">
        <div class="form-box">
          <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
            <div class="text-center">
              <span class="form-title">Welcome back !</span>
              <p class="form-description m-0 mt-2">
                Securely access your digital documents and sign them anytime,
                anywhere. Your data is encrypted and protected with
                industry-standard security.
              </p>
              <button type="button" class="btn-google">
                <img
                  src="../../../assets/images/google_logo.svg"
                  alt="logo"
                  loading="lazy"
                />
                Sign in with Google
              </button>
            </div>
            <div class="form-group mb-3">
              <label for="email">Email Address</label>
              <input
                type="email"
                class="form-text-input"
                id="email"
                placeholder="example@gmail.com"
                formControlName="email"
                name="email"
              />

              @let email = loginFormControls['email']; @if (email.invalid &&
              email.touched) { @if (email.hasError('pattern')) {
              <small class="err-msg">Invalid email format</small>
              }@else {
              <small class="err-msg">Email is Required</small>
              } }
            </div>
            <div class="form-group mb-3">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-text-input"
                id="password"
                placeholder="********"
                formControlName="password"
                name="password"
              />
              @let password = loginFormControls['password']; @if
              (password.invalid && password.touched) { @if
              (password.hasError('minlength')) {
              <small class="err-msg"
                >Password must be minimum 8 characters long</small
              >
              }@else if (password.hasError('maxlength')) {
              <small class="err-msg"
                >Password must be maximum 16 character long</small
              >
              }@else {
              <small class="err-msg">Password is Required</small>
              } }
            </div>
            <div style="margin-bottom: 2rem">
              <div class="d-flex justify-content-between">
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="remember"
                    formControlName="remember"
                    name="remember"
                  />
                  <label class="form-check-label" for="remember"
                    >Remember me</label
                  >
                </div>

                <div class="form-forgot-password">
                  <a href="#" class="forgot-pass-link">Forgot password?</a>
                </div>
              </div>
              <!-- @let remember = loginFormControls['remember']; @if
              (remember.invalid && remember.touched) { @if
              (remember?.hasError('required')) {
              <small class="err-msg">Required</small>
              } } -->
            </div>

            <div class="mb-5">
              <button type="submit" class="button btn-login">Login</button>
            </div>
            <span>Don't have an account? </span>
            <a routerLink="/signup" class="create-acc-link"
              >Create free account</a
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
