<div class="container create-contact-container text-center">
  <div class="contact-box">
    <img
      src="../../../assets/images/create_contact_Icon.png"
      height="145"
      width="145"
      alt="icon"
    />

    <strong class="contact-heading my-4">Add your Team’s contact</strong>

    <p class="contact-description">
      No more digging through folders. Each time you share a document, the
      recipient is added to your contacts automatically. Prefer doing it
      manually? You can. Easily view and track all signed and shared documents,
      contact by contact.
    </p>

    <button class="btn-package">Create contact</button>
  </div>
</div>
