<!-- <div class="bg-white h-screen!"> -->
<div id="sidebar" class="vh-100">
  <div class="sidebar-header">
    <img
      src="../../../../assets/images/sudo_dark_logo.png"
      width="210"
      height="30"
      alt="logo"
    />
  </div>

  <div class="sidebar-body mt-4">
    <mat-nav-list role="list">
      @for (item of sidebarItem; track $index) { @if (item.title) {
      <div class="sidebar-title my-3">{{ item.title }}</div>
      } @if (item.hr) {
      <hr />
      }
      <mat-list-item class="nav-item mt-1" role="listitem">
        <a
          [routerLink]="item.link"
          class="nav-link"
          [routerLinkActive]="item.routerLinkActive"
        >
          <i [class]="item.icon"></i>
          <span>{{ item.label }}</span>
        </a>
      </mat-list-item>

      }
      <mat-list-item class="nav-item mt-2" role="listitem">
        <a class="nav-link d-flex justify-content-center" (click)="logOut()">
          <i class="bi bi-box-arrow-left"></i>
          <span>Logout</span>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </div>
</div>
