#sidebar {
  border-right: 0.5px solid lightgrey;
  background: var(--bg-white);

  .sidebar-title {
    color: #64748b;
    font-weight: 500;
  }

  .nav-item,
  .btn-logout {
    transition: background 0.4s;
    border-radius: 8px;
    padding: 10px;
    font-size: 1.1rem;
    color: #191d23;
    cursor: pointer;

    i {
      font-size: 1.3rem;
    }

    &:hover {
      background-color: var(--bg-hover);
    }

    .activated-route {
      color: var(--text-violate) !important;
    }
  }
}
