<div id="sidebar" class="vh-100 p-3">
  <div class="sidebar-header">
    <img
      src="../../../../assets/images/sudo_dark_logo.png"
      width="210"
      height="30"
      alt="logo"
    />
  </div>

  <div class="sidebar-body mt-4">
    <ul>
      @for (item of sidebarItem; track $index) { @if (item.title) {
      <div class="sidebar-title my-2">{{ item.label }}</div>
      } @if (item.hr) {
      <hr />
      }

      <li class="nav-item ms-2">
        <a
          routerLink="{{ item.link }}"
          routerLinkActive="{{ item.routerLinkActive }}"
          class="d-block"
        >
          <i [class]="item.icon" class="me-2"></i>
          {{ item.label }}</a
        >
      </li>
      }

      <li
        class="btn-logout mb-4 d-flex align-items-center justify-content-center"
        (click)="logOut()"
      >
        <i class="bi bi-box-arrow-left me-2"></i>
        Logout
      </li>
    </ul>
  </div>
</div>
