.pricing-back-arr {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 1px solid var(--text-violate);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 2rem;

  .back-arr {
    font-size: 1.3rem;
    color: var(--text-violate);
    // margin: 2rem;
  }
}

.pricing-container {
  .pricing-header {
    .heading {
      color: #000;
      font-size: 3.125rem;
      font-weight: 700;
      line-height: 65px;

      span {
        display: block;
        color: var(--text-violate);
      }
    }

    .pricing-tag {
      color: #191d23;
      font-size: 1.375rem;
    }

    .time-label {
      color: #191d23;
    }

    .discount-arr-container {
      .discount-pr {
        color: var(--text-violate);
        font-size: 1.125rem;
        font-weight: 600;
      }
    }
  }

  .pricing-card {
    padding: 2rem 1rem;
    transition: all 0.3s ease;
    height: 100%;
    // text-align: justify;

    .title {
      font-size: 1.375rem;
      font-weight: 700;
      color: #191d23;
    }

    .card-tag {
      font-size: 1rem;
      font-weight: 400;
      color: #64748b;
    }

    .plans-price {
      font-size: 3.5rem;
      font-weight: 600;
      color: #191d23;

      span {
        color: #4b5768;
        font-weight: 300;
        font-size: 1rem;
      }
    }

    .btn-buy-plan {
      border: 1px solid var(--bg-violate);
      padding: 10px;
      border-radius: 4px;
      color: var(--bg-violate);
      font-weight: 600;
      font-size: 1rem;

      //   &:hover {
      //     background-color: var(--bg-violate);
      //     color: #fff;
      //     transition: all 0.3s ease;
      //   }
    }

    .plan-description {
      ul {
        li {
          margin-bottom: 1rem;

          i {
            font-size: 22px;
            color: #a358ff80;
            margin-right: 5px;
          }
        }
      }
    }

    &:hover {
      background-color: var(--bg-violate);
      color: #fff;
    }
  }
}
