<div class="container h-100 mt-4 mb-5">
  <label class="mb-2">0 Templates</label>
  <div class="template-box text-center h-100">
    <div class="box-img">
      <img
        src="../../../../assets/images/template_icon.png"
        height="152"
        width="152"
        alt="icon"
      />
    </div>

    <div class="box-steps my-5">
      <div class="steps">
        <div class="step-count">01</div>
        <div class="step-details mt-2">
          <span class="step-title">add your Doc</span>
          <p class="p-0 step-description mt-1">
            Select from existing documents or upload new
          </p>
        </div>
      </div>
      <div class="steps">
        <div class="step-count">02</div>
        <div class="step-details mt-2">
          <span class="step-title">Prepare Doc</span>
          <p class="p-0 step-description mt-1">
            Add fields you want filled out
          </p>
        </div>
      </div>
      <div class="steps">
        <div class="step-count">03</div>
        <div class="step-details mt-2">
          <span class="step-title">Save Template</span>
          <p class="p-0 step-description mt-1">
            Reuse it to send unique copies for signature
          </p>
        </div>
      </div>
    </div>

    <div class="box-button" align="center">
      <button class="btn-package px-4">Create Template</button>
    </div>
  </div>
</div>
