<div class="pricing-back-arr" (click)="redirectToHome()">
  <i class="bi bi-chevron-left back-arr"></i>
</div>
<div class="container mt-4 mb-5 pricing-container">
  <div class="pricing-header text-center">
    <strong class="heading"
      >Choose the Plan That <span>Fits You Best</span></strong
    >
    <span class="pricing-tag">Choose a plan that’s right for you</span>

    <div class="d-flex justify-content-center align-items-center my-5">
      <div class="time-label mb-1">Pay Monthly</div>
      <div class="mx-3">
        <p-toggleswitch [(ngModel)]="checked" />
      </div>
      <div class="time-label mt-2">
        Pay Yearly
        <img
          src="../../../assets/images/pricing_arr_1.png"
          class="d-block"
          width="75"
          height="15"
          alt="img"
        />
      </div>
      <div class="ms-3 discount-arr-container d-flex align-items-end">
        <img
          src="../../../assets/images/pricing_arr_2.png"
          width="100"
          height="60"
          alt=""
        />
        <div class="mb-2 discount-pr">save 25%</div>
      </div>
    </div>
  </div>
  <div class="row pricing-cards">
    <div class="col-lg-3 col-md-6 pricing-card">
      <div class="card">
        <span class="title">Starter Plan</span>
        <p class="card-tag m-0 mt-2">
          For individuals or freelancers just getting started.
        </p>

        <strong class="plans-price my-3">$05 <span>/ Month</span></strong>
        <button class="btn-buy-plan">Get Started Now</button>

        <div class="plan-description">
          <ul id="card-icons">
            <li>
              <i class="bi bi-check-circle" id="card-icon"></i> 2 Users access
            </li>
            <li>
              <i class="bi bi-check-circle" id="card-icon"></i>
              Limited Templates
            </li>
            <li><i class="bi bi-x-circle" id="card-icon"></i> Send in bulk</li>
            <li><i class="bi bi-x-circle" id="card-icon"></i> API access</li>
            <li>
              <i class="bi bi-x-circle" id="card-icon"></i> Mobile App access
            </li>
            <li>
              <i class="bi bi-x-circle" id="card-icon"></i> In-person signatures
            </li>
            <li>
              <i class="bi bi-x-circle" id="card-icon"></i> Set reminders &
              notifications
            </li>
            <li>
              <i class="bi bi-x-circle" id="card-icon"></i> Document groups
            </li>
            <li>
              <i class="bi bi-x-circle" id="card-icon"></i> Cloud storage
              integration
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 pricing-card">
      <div class="card">
        <span class="title">Pro Plan</span>
        <p class="card-tag m-0 mt-2">
          Ideal for small teams or growing businesses.
        </p>

        <strong class="plans-price my-3">$10 <span>/ Month</span></strong>
        <button class="btn-buy-plan">Get Started Now</button>

        <div class="plan-description">
          <ul>
            <li><i class="bi bi-check-circle card-icon"></i> 5 User access</li>
            <li><i class="bi bi-check-circle"></i> 50 Templates</li>
            <li><i class="bi bi-x-circle"></i> Send in bulk</li>
            <li><i class="bi bi-x-circle"></i> API access</li>
            <li><i class="bi bi-x-circle"></i> Mobile App access</li>
            <li><i class="bi bi-x-circle"></i> In-person signatures</li>
            <li>
              <i class="bi bi-x-circle"></i> Set reminders & notifications
            </li>
            <li><i class="bi bi-x-circle"></i> Document groups</li>
            <li><i class="bi bi-x-circle"></i> Cloud storage integration</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 pricing-card">
      <div class="card">
        <span class="title">Business Plan</span>
        <p class="card-tag m-0 mt-2">
          Designed for companies needing advanced controls
        </p>

        <strong class="plans-price my-3">$20 <span>/ Month</span></strong>
        <button class="btn-buy-plan">Get Started Now</button>

        <div class="plan-description">
          <ul>
            <li><i class="bi bi-check-circle card-icon"></i> 2 Users access</li>
            <li><i class="bi bi-check-circle"></i> Limited Templates</li>
            <li><i class="bi bi-x-circle"></i> Send in bulk</li>
            <li><i class="bi bi-x-circle"></i> API access</li>
            <li><i class="bi bi-x-circle"></i> Mobile App access</li>
            <li><i class="bi bi-x-circle"></i> In-person signatures</li>
            <li>
              <i class="bi bi-x-circle"></i> Set reminders & notifications
            </li>
            <li><i class="bi bi-x-circle"></i> Document groups</li>
            <li><i class="bi bi-x-circle"></i> Cloud storage integration</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 pricing-card">
      <div class="card">
        <span class="title">Enterprise Plan</span>
        <p class="card-tag m-0 mt-2">
          Tailored solutions for large organizations.
        </p>

        <strong class="plans-price my-3">$50 <span>/ Month</span></strong>
        <button class="btn-buy-plan">Get Started Now</button>

        <div class="plan-description">
          <ul>
            <li><i class="bi bi-check-circle"></i> 2 Users access</li>
            <li><i class="bi bi-check-circle"></i> Limited Templates</li>
            <li><i class="bi bi-x-circle"></i> Send in bulk</li>
            <li><i class="bi bi-x-circle"></i> API access</li>
            <li><i class="bi bi-x-circle"></i> Mobile App access</li>
            <li><i class="bi bi-x-circle"></i> In-person signatures</li>
            <li>
              <i class="bi bi-x-circle"></i> Set reminders & notifications
            </li>
            <!-- <li><i class="bi bi-x-circle"></i> Document groups</li>
            <li><i class="bi bi-x-circle"></i> Cloud storage integration</li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
