@use "../../../assets/sass/variables" as *;

.msg-404-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-btn {
  text-decoration: none;
  color: #fff;
  padding: 0.75rem 1.5rem;

  i {
    font-size: 20px;
  }
}
