@use "../../../assets/sass/variables" as *;

.msg-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .msg-404 {
    font-size: 4rem;
    font-weight: 300;
  }

  p {
    font-size: 2rem;

    span {
      font-size: 1rem;
      display: block;
    }
  }

  .home-btn {
    text-decoration: none;
    color: #fff;
    padding: 0.75rem 1.5rem;

    i {
      font-size: 20px;
    }
  }
}
