<div class="container msg-404-container">
  <div class="msg-404 d-flex justify-content-center align-items-center">
    <div>
      <strong class="display-1">404</strong>
    </div>
    <div class="ms-4">
      <span class="display-6">Oops! You're lost.</span><br />
      <span class="text-secondary"
        >The page you are looking for was not found.</span
      >
    </div>
  </div>
  <div class="mt-4 text-center">
    <a routerLink="/dashboard" class="button home-btn">
      Go to home<i class="bi bi-house ms-2"></i>
    </a>
  </div>
</div>
