<section class="signup-container">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-md-6 box-1">
        <div class="info-box h-100">
          <img
            src="../../../assets/images/sudo_white_logo.png"
            alt="sudocode Logo"
            width="250"
            height="35"
            loading="lazy"
          />
          <div>
            <h2 class="m-0 title-tag">Sudo<span>Mark</span></h2>
            <span class="tag-line">Your digital mark, verified</span>
          </div>

          <h2 class="tag-sub-title">Join the Paperless Revolution</h2>

          <p class="m-0 tag-description">
            Sign up and experience seamless digital <br />
            signing.
          </p>
        </div>
      </div>
      <div class="col-md-6 box-2">
        <div class="form-box">
          <form
            [formGroup]="signupForm"
            (ngSubmit)="signUp()"
            autocomplete="off"
          >
            <div class="text-center">
              <span class="form-title">New Here? Welcome!</span>
              <p class="form-description m-0 mt-2">
                Join thousands of professionals using our secure e-signature
                platform. Sign, send and manage documents with ease - all in one
                place.
              </p>
            </div>
            <div class="form-group mb-3">
              <label for="name">First & LastName</label>
              <input
                type="text"
                class="form-text-input"
                id="name"
                placeholder="Enter Name"
                formControlName="name"
                name="name"
              />
              @let name = signupFormControl['name']; @if (name.invalid &&
              name.touched) { @if (name.hasError('required')) {
              <small class="err-msg">Name is required</small>
              } }
            </div>
            <div class="form-group mb-3">
              <label for="email">Email Address</label>
              <input
                type="email"
                class="form-text-input"
                id="email"
                placeholder="example@gmail.com"
                formControlName="email"
                name="email"
              />
              @let email = signupFormControl['email']; @if (email.invalid &&
              email.touched) { @if (email.hasError('pattern')) {
              <small class="err-msg">Invalid email format</small>
              }@else {
              <small class="err-msg">Email is Required</small>
              } }
            </div>
            <div class="form-group mb-3">
              <label for="password">Create a password</label>
              <input
                type="password"
                class="form-text-input"
                id="password"
                placeholder="********"
                formControlName="password"
                name="password"
              />
              @let password = signupFormControl['password']; @if
              (password.invalid && password.touched) { @if
              (password.hasError('minlength')) {
              <small class="err-msg"
                >Password must be minimum 8 characters long</small
              >
              }@else if (password.hasError('maxlength')) {
              <small class="err-msg"
                >Password must be maximum 16 character long</small
              >
              }@else {
              <small class="err-msg">Password is Required</small>
              } }
            </div>
            <div class="form-check" style="margin-bottom: 2rem">
              <input
                type="checkbox"
                formControlName="remember"
                class="form-check-input"
                id="remember"
                name="remember"
              />
              <label class="form-check-label" for="remember"
                >I agree with the
                <span class="form-check-span">Terms & Conditions</span> of
                Sudocode
              </label>
              <div class="d-block">
                @let remember = signupFormControl['remember']; @if
                (remember.invalid && remember.touched) { @if
                (remember.hasError('required')) {
                <small class="err-msg">Please accept Terms & Conditions</small>
                } }
              </div>
            </div>
            <button type="submit" class="button btn-signup mb-4">Sign Up</button>
            <button type="button" class="btn-google">
              <img
                src="../../../assets/images/google_logo.svg"
                alt="logo"
                loading="lazy"
              />
              Sign in with Google
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
