.dashboard-container {
  .dashboard-title {
    font-size: 1.5rem;
  }

  .dashboard-card {
    border: 1px solid #e4e4e7;
    border-radius: 13px;

    strong {
      font-size: 1.75rem;
      font-weight: 700;
    }

    span {
      color: #71717a;
    }

    i {
      font-size: 26px;
    }
  }

  .dash-table-container {
    position: relative;
    display: inline-block;

    .btn-dash-table {
      border: none;
    }

    .dash-table-popup {
      // position: absolute;
      background-color: lightgreen;
      color: #71717a;
      position: absolute;
      display: none;
      // right: 0;
      // transform: translate(-50%, -50%);
      z-index: 888;
    }

    .show-dash-table-popup {
      display: block;
    }
  }
}
