@use "sass:map";

:root {
  --bg-violate: #a358ff;
  --bg-grey: #3f3f46;
  --text-violate: #9747ff;
  --text-light-grey: #64748b;
  --text-light-black: #191d23;
  --text-white: #fff;
  --text-error: red;
  --bg-white: #fff;
  --bg-hover: #f6eeff;
}

$breakpoints: (
  "xs": "(max-width : 600px)",
  "sm": "(min-width: 600px) and (max-width: 767px)",
  "md": "(min-width: 768px) and (max-width: 991px)",
  "lg": "(min-width: 992px) and (max-width: 1199px)",
  "xl": "(min-width : 1200px) and (max-width: 1920px)",
  "xxl": "(min-width: 1921px)",
);

@mixin breakpoint($user-value) {
  $my-map: map.get($breakpoints, $user-value);
  @if $my-map {
    @media (#{$my-map}) {
      @content;
    }
  } @else {
    @error "Oops, seems like the breakpoint #{$user-value} isn't define yet";
  }
}
